html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.maps-container {
    width: auto;
    height: 50%;
    overflow: hidden;
    position: relative;
}

.maps-container.expanded {
    height: 100%;
}

.bottom {
    background: #f9f9f9;
}

#map {
    height: 100%;
    width: 100%;
}

.sidebar {
    padding-right: 10px;
    width: 275px;
    height: 100%;
    float: left;
    position: relative;

    background: #f9f9f9;

    transition: width .5s linear;
}

.sidebar.collapse {
    width: 0px;
}

.sidebar-close-container {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: 10;
}

.sidebar-close {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0px;
    height: 100%;
    width: 7px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background: #eee;
    transition: width .1s linear;
}

.sidebar-border {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 7px;
    z-index: 10;
    border-right: 3px solid #ebb325;
    background: #edc150;
}

.sidebar-content {
    height: 100%;
    overflow-y: scroll;
}

.sidebar-close:hover {
    width: 10px;
    cursor: pointer;
}

.sidebar-close-icon {
    width: 5px;
    height: 5px;
    background: red;
}

.sidebar-title {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    color: #0c703e;
}

.sidebar-title-border {
    height: 1px;
    width: 90%;
    position: relative;
    left: 5%;
    background: #ddd;
    margin-bottom: 10px;
}

.lot {
    padding: 10px;
}

.lot:nth-child(even) {
    background: #eee;
}

.lot-count {
    display: inline-block;
    float: right;
    font-size: 26px;
}

.lot-count-full {
    color: red;
}

.lot-title {
    font-size: 22px;
    display: inline-block;
    color: #00512b;
}

.map-dc-overlay {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px 15px;
    border-top-left-radius: 3px;
    background: #f98282;
    border-top: 1px solid red;
    border-left: 1px solid red;
    font-size: 16px;
}

.map-c-overlay {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px 15px;
    border-top-left-radius: 3px;
    background: #b4b4f7;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    font-size: 16px;
}

.map-expand-overlay {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .90);
    background-image: url('/images/expand.png');
    background-size: contain;
    cursor: pointer;
}

.map-logo-overlay {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 133px;
    height: 18px;
    background-image: url('/images/calpoly.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    padding: 15px 10px;
    box-shadow: 0px -3px 4px -4px #777;
    position: relative;
    z-index: 10;
}

.header-img {
    width: 100%;
}

.header-text {
    font-size: 20px;
    margin-top: 5px;
}

.suggest {
    padding: 15px 10px;
    background: #c5efc2;
    box-shadow: 0px 4px 4px -4px #777 inset, 0px -4px 4px -4px #777 inset;
}

.suggest-title {
    font-size: 24px;
}

.suggest-subtext {
    font-size: 18px;
    margin-top: 10px;
}

.occupancy {
}

.occupancy-title {
    padding: 15px 10px 10px 10px;
    font-size: 24px;
}

.occupancy-hr {
    margin: 0px 10px;
    height: 1px;
    width: calc(100% - 20px);
    background: #ccc;
}
